<%- include("../partials/header"); -%>
<div class="header"><img src="assets/images/main-bg.jpg" alt="" srcset=""></div>
<section class="pd-5">
    <div class="about">
        <h3 class="section-title h1">We are the Feynman Physics ​Forum</h3>
        <br>
        <h5>​This is the place where students from arts,science and engineering backgrounds connect to discuss the
            future of physics.</h5>
        <br><br>
        <a href="" class="btn btn-outline-primary">ABOUT US</a>
    </div>
</section>
<%- include("../partials/footer"); -%>