<%- include("../partials/header"); -%>
<section class="pd-5">
    <div class="wrapper">
        <div class="middle">
            <div id="overlay">
                <div class="container">
                    <div class="row">
                        <div class="signup">Sign Up</div>
                        <div class="login">Log In</div>
                    </div>

                    <div class="signup-form">
                        <input type="text" placeholder="Choose a Username" class="input"><br />
                        <input type="email" placeholder="Your Email Address" class="input"><br />
                        <input type="password" placeholder="Choose a Password" class="input"><br />
                        <button class="btn button">Create account</button>
                    </div>

                    <div class="login-form">
                        <input type="text" placeholder="Email or Username" class="input"><br />
                        <input type="password" placeholder="Password" class="input"><br />
                        <button class="btn button">log in</button>
                        <span><a href="#">Forgot my username or password?</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("../partials/footer"); -%>